<div class="edit-modal-container">
    <div class="modal-header">
        <span>Trainer Registeration</span>
        <button (click)="closeModal()" title="Close">X</button>
    </div>
    <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" ngModel required><br>
        
            <label for="position">Position</label>
            <input type="text" id="position" name="position" ngModel required><br>
        
            <label for="contactNumber">Contact</label>
            <input type="text" id="contactNumber" name="contactNumber" ngModel required><br>
        
            <label for="monthLeaves">Current Month Leave(s)</label>
            <input type="number" id="monthLeaves" name="monthLeaves" min="0" max="25" ngModel><br>
        
            <label for="annualLeaves">Annual Leave(s)</label>
            <input type="number" id="annualLeaves" name="annualLeaves" min="0" max="25" ngModel><br>
        
            <button type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>
    </div>
</div>