.main {
    #searchBox {
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
    }

    .filters {
        margin-top: 15px;
        display: flex;
        gap: 10px;

        .tabs {
            border: 1px solid #000;
            border-radius: 10px;
            background-color: #fff;
            cursor: pointer;
            padding: 10px; 

            &:hover {
                background-color: #000;
                color: #fff;
                cursor: pointer;
                font-weight: 600;
            }
        }
    }

    .all-members-listing {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 10px;
        height: 550px;
        width: 1700px;
        overflow-y: scroll;
        overflow-x: scroll;

        .members-listing-header {
            font-weight: 600;
            position: sticky;
            top: 0px;
            background-color: #000;
            color: yellow;
            padding: 2px;
            display: flex;

            td {
                width: 160px;
                text-align: center;
                padding: 2px;
                vertical-align: middle;
            }

        }

        .member-container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 2px;
            display: flex;
            flex-direction: row;

            td {
                border-right: 1px solid black;
                padding: 2px;
                width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;

                button {
                    background-color: #fff;
                    border-radius: 7px;
                    margin: 10px;
                    cursor: pointer;
                    // padding: 2px;
                }
            }

            &:hover {
                background-color: #f9f9f9;
                cursor: default;
                font-weight: 600;
                border-left: 10px solid #000;
                box-shadow:  0 0 5px #000;
            }
        } 
    }
}