<div class="header" (click)="selectManagement(-1)">
  <h1>
    Be Fit The Gym
  </h1>
</div>
<app-notification></app-notification>
@if (selectedManagement == -1) {
  <div class="blockContainer">
    <button class="block" (click)="selectManagement(0)" title="Manage gym staff">Staff Management</button>
    <button class="block" (click)="selectManagement(1)" title="Manage gym members">Members Management</button>
    <button class="block" (click)="selectManagement(2)" title="Manage gym maintainance activities">Maintainance Activities</button>
    <button class="block" (click)="selectManagement(3)" title="Manage gym maintainance activities">Visitors Records</button>
  </div>
} @else if(selectedManagement == 0) {
  <app-staff-management (backBtn)="selectManagement(-1)"></app-staff-management>
} @else if(selectedManagement == 1) {
  <app-members-management (backBtn)="selectManagement(-1)"></app-members-management>
} @else if(selectedManagement == 2) {
  <app-maintainance (backBtn)="selectManagement(-1)"></app-maintainance>
} @else if(selectedManagement == 3) {
  <h1>Coming Soon.</h1>

}
